.movieDetail-contanier{
    margin-left: 40px;
    margin-top: 60px;
    color: #fff;
}

.movieDetail-contanier img{

  margin-left: 40px;

}
.movie{
    margin: 20px;
    margin-left: 40px;
}
.movie h4{
    padding-top: 20px;
}
.movie-text{
    padding-top: 30px;
}
.movie-span{
    color: #FF8E3C;
}
.line{

   border: 1px solid #B8B8B8;
   margin: 40px;
}
