
.banner {
   position: relative;
   width: 220px;
   height: 350px;
   object-fit: container;
   position:relative;
   outline: none;
   border:none;
   margin: 10px;
   border-width:0;
   border-radius: 10px;

   
}

.movie_title {
    position:absolute;
    bottom: 40px;
    left:10px;
    color:white;
    
}
.movie-button{
    border-radius: 10px;
    padding: 3px;
    position:absolute;
    bottom:10px;
    left:10px;
    background: #FF9933;
    color:white;
    outline:none;
    border: none;
    border-width:0;
}

