
.nowShowing{
    margin:20px;
    justify-content: center;
    text-align: center;
}

.nowshowing_movies{
    display:flex;
    flex-wrap:wrap;
    margin:20px;
    justify-content: center;
    

}
.show-searchBar{

    margin-left: 410px;
    text-align: center;
    padding: 5px;
    width:500px;
    height: 40px;
    font-size: large;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #1E1E1E;
    
}