.banner {
    position: relative;
    width: 320px;
    height: 220px;
    object-fit: container;
    position:relative;
    outline: none;
    border:none;
    margin: 10px;
    border-width:0;
    
 }
 
 .movie_title {
     position:absolute;
     bottom: 40px;
     left:10px;
     color:white;
     margin-bottom:30px
     
 }
 .buttons {
    position:absolute;
     font-size: 15px;
     bottom: 3px;
     left:10px;
     color:green;
     outline:none;
     border: none;
     border-width:none;
     padding: 10px;
 
     

    
 }

 .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
 .delete-button{
     background: red;
     border: none;
     box-shadow: 0 8px 20px 0 ;
     margin: 10px ;
     padding: 5px 15px;
     color:white;
     crusor:pointers

 }
 
 .edit-button{
   background: #FF9933;
   border:none;
   box-shadow: 0 8px 20px;
   padding: 5px 15px;
   color: white
  
 }