.images{
  padding: 10px;
  color: white;
  margin:20px;
  justify-content: center;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  margin:20px;
  justify-content: center;
  
 }
 .image{
  padding: 20px;
 }
 .image img{
  border-radius: 10px;
  width: 220px;
  height: 350px;
 }
 .button-section{
  background-color: #FF9933;
  color:#000;
  font-size: large;
  border-radius: 10px;
  height: 30px;
  border: none;
  width: 220px;
 }
 